In [ ]:
# group6_project.py
# Satchytan Karalasingham, Romil Dhagat
#
'''
A terminal-based application for computing and printing statistics based on given input.
You must include the main listed below. You may add your own additional classes, functions, variables, etc. 
You may import any modules from the standard Python library.
Remember to include docstrings and comments.
'''

def main():

    import pandas as pd
    import matplotlib.pyplot as plt

    # Stage 2: DataFrame Creation
    
    # Import the Excel data into a Pandas DataFrames.
    df_goog = pd.read_excel('Google_Data.xlsx')
    df_meta = pd.read_excel('META_Data.xlsx')
    df_msft = pd.read_excel('Microsoft_data.xlsx')
    df_tsla = pd.read_excel('Tesla_Data.xlsx')

    # Merge the four DataFrames based on a common column
    # merged_df = pd.merge(df_goog, df_meta, on='Date')
    # merged_df = pd.merge(merged_df, df_msft, on='Date')
    # merged_df = pd.merge(merged_df, df_tsla, on='Date')

    # Remove any duplicated columns resulting from the merge
    # merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

    # Create a hierarchical index using two levels (row or column)
    # merged_df.set_index(['Date'] , inplace=True)                      # RD : Removed ['Stock']

    # Sort the data based on the index
    # merged_df.sort_index(inplace=True)



    print("ENSF 592 Group 6 Project")



    # Stage 3: User Input
    # Prompt the user to enter a stock ticker.
    while True:
        print("There are four stocks to compare: GOOG, MSFT, TSLA, META")
        ticker1 = input("Please enter a stock ticker: ").upper()
        ticker2 = input("Please enter another stock ticker: ").upper()

        try:

            if (ticker1 == 'GOOG' and ticker2 == 'META') or (ticker1 == 'META' and ticker2 == 'GOOG'):                       
                # Merge the selected DataFrames based on a common column
                merged_df = pd.merge(df_goog, df_meta, on='Date')
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True) 
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)
            elif (ticker1 == 'GOOG' and ticker2 == 'MSFT') or (ticker1 == 'MSFT' and ticker2 == 'GOOG'):
                # Merge the selected DataFrames based on a common column               
                merged_df = pd.merge(df_goog, df_msft, on='Date')   
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True) 
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)                                                      
            elif (ticker1 == 'GOOG' and ticker2 == 'TSLA') or (ticker1 == 'TSLA' and ticker2 == 'GOOG'):  
                # Merge the selected DataFrames based on a common column                   
                merged_df = pd.merge(df_goog, df_tsla, on='Date') 
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True)  
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)                                                       
            elif (ticker1 == 'MSFT' and ticker2 == 'META') or (ticker1 == 'META' and ticker2 == 'MSFT'):
                # Merge the selected DataFrames based on a common column
                merged_df = pd.merge(df_msft, df_meta, on='Date')
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True)
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)
            elif (ticker1 == 'MSFT' and ticker2 == 'TSLA') or (ticker1 == 'TSLA' and ticker2 == 'MSFT'):
                # Merge the selected DataFrames based on a common column
                merged_df = pd.merge(df_tsla, df_msft, on='Date')
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True)
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)
            elif (ticker1 == 'META' and ticker2 == 'TSLA') or (ticker1 == 'TSLA' and ticker2 == 'META'):
                # Merge the selected DataFrames based on a common column
                merged_df = pd.merge(df_meta, df_tsla, on='Date')
                # Remove any duplicated columns resulting from the merge
                merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
                # Create a hierarchical index using two levels (row or column)
                merged_df.set_index(['Date'] , inplace=True)
                # Sort the data based on the index
                merged_df.sort_index(inplace=True)
            else:
                print('first')
                raise KeyError

            # Stage 4: Analysis and Calculations
            # filtered_df = merged_df.loc[(slice(None), [ticker1, ticker2]), :]

            if merged_df.empty:
                print("second")
                raise KeyError
            else:
                # Display the filtered data
                print("\nFiltered Data:")
                print(merged_df)

                # Aggregate statistics using describe method
                print("\nAggregate Statistics:")
                print(merged_df.describe())
                
                # Add two columns to the dataset
                merged_df['Daily Return_x'] = merged_df['Close_x'] - merged_df['Open_x']
                merged_df['Daily Return_y'] = merged_df['Close_y'] - merged_df['Open_y']
                merged_df['Volume in Millions'] = merged_df['Volume'] / 1000000

                print(merged_df['Daily Return_x'])

                # Perform aggregation computation for a subset of data
                mean_return = merged_df.loc[(slice(None), [ticker1, ticker2]), 'Daily Return'].mean()
                print(f"\nMean Daily Return for {ticker1} and {ticker2}: {mean_return:.2f}")

                # Perform masking operation
                high_volume_df = merged_df[merged_df['Volume'] > 50000000]
                print("\nData with Volume > 50,000,000:")
                print(high_volume_df)

                # Perform groupby operation
                grouped_df = merged_df.groupby('Stock').mean()
                print("\nGrouped Data (Mean values per stock):")
                print(grouped_df)

                # Create and print a pivot table
                pivot_table = pd.pivot_table(merged_df, values='Close', index='Date', columns='Stock')
                print("\nPivot Table:")
                print(pivot_table)

                # Stage 5: Export and Matplotlib
                # Export merged DataFrame to Excel file
                merged_df.to_excel('merged_data.xlsx')

                # Create a plot using Matplotlib
                merged_df.plot(x='Date', y='Close', marker='o')
                plt.title(f"Stock Prices - {ticker1} and {ticker2}")
                plt.xlabel("Date")
                plt.ylabel("Closing Price")
                plt.grid(True)
                plt.savefig('stock_prices.png')
                plt.show()

        except KeyError:
            print("Invalid stock ticker. Please try again.\n")
            continue

        another_search = input("\nDo you want to search for another pair of tickers? (y/n): ")
        if another_search.lower() != 'n':
            break

    print("\nProgram finished.")


if __name__ == '__main__':
    main()

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Stage 2: DataFrame Creation

# Import the Excel data into a Pandas DataFrames.
df_goog = pd.read_excel('Google_Data.xlsx')
df_meta = pd.read_excel('META_Data.xlsx')
df_msft = pd.read_excel('Microsoft_data.xlsx')
df_tsla = pd.read_excel('Tesla_Data.xlsx')

In [4]:
# Merge the selected DataFrames based on a common column
merged_df = pd.merge(df_goog, df_meta, on='Date')
# Remove any duplicated columns resulting from the merge
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()] 
# Create a hierarchical index using two levels (row or column)
merged_df.set_index(['Date'] , inplace=True) 
# Sort the data based on the index
merged_df.sort_index(inplace=True)

In [5]:
merged_df

,Open_x,High_x,Low_x,Close_x,Volume_x,Dividends_x,Stock Splits_x,Open_y,High_y,Low_y,Close_y,Volume_y,Dividends_y,Stock Splits_y
Date,,,,,,,,,,,,,,
2022-06-09,116.341499,118.349998,114.866997,114.917999,23142000,0,0,194.279999,199.449997,183.679993,184.000000,23501600,0,0
2022-06-10,112.781250,113.497002,110.861000,111.427498,31324000,0,0,183.039993,183.100006,175.020004,175.570007,27450800,0,0
2022-06-13,107.445999,109.218498,106.588051,106.876503,36756000,0,0,170.589996,172.580002,164.029999,164.259995,31749300,0,0
2022-06-14,106.889999,108.457497,106.351997,107.194000,25480000,0,0,166.029999,166.750000,161.360001,163.729996,27244300,0,0
2022-06-15,108.899498,112.063004,108.118752,110.390503,33192000,0,0,167.199997,172.160004,163.979996,169.350006,30008300,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-02,124.489998,126.745003,124.349998,125.230003,19362400,0,0,272.660004,275.350006,271.119995,272.609985,19405300,0,0
2023-06-05,124.610001,127.989998,124.379997,126.629997,22672500,0,0,270.299988,275.570007,269.559998,271.390015,20742900,0,0
2023-06-06,126.599998,128.880005,125.970001,127.910004,19450100,0,0,270.140015,276.570007,269.690002,271.119995,19419000,0,0
2023-06-07,127.574997,129.550003,122.629997,122.940002,34179300,0,0,271.670013,274.250000,262.799988,263.600006,26163600,0,0
2023-06-08,122.584999,123.730003,122.010002,122.669998,23954447,0,0,260.619995,267.640015,258.899994,264.579987,20841315,0,0

In [10]:
merged_df['Daily Return_x'] = merged_df['Close_x'] - merged_df['Open_x']
merged_df['Daily Return_y'] = merged_df['Close_y'] - merged_df['Open_y']
merged_df['Volume in Millions'] = merged_df['Volume_x'] / 1000000

In [11]:
merged_df['Daily Return_x']

Date
2022-06-09   -1.423500
2022-06-10   -1.353752
2022-06-13   -0.569496
2022-06-14    0.304001
2022-06-15    1.491005
                ...
2023-06-02    0.740005
2023-06-05    2.019997
2023-06-06    1.310005
2023-06-07   -4.634995
2023-06-08    0.084999
Name: Daily Return_x, Length: 251, dtype: float64

In [13]:
# Perform aggregation computation for a subset of data
mean_return = merged_df.loc[(slice(None), [goog, meta]), 'Daily Return'].mean()
#print(f"\nMean Daily Return for Google and meta: {mean_return:.2f}")

NameError: name 'goog' is not defined